.not-found-container {
  text-align: center;
  margin-top: 50px;

  .heading {
    font-size: 36px;
    color: #ff5722; /* or any other color you prefer */
  }

  .content {
    font-size: 18px;
    color: #333;
    margin-bottom: 20px;
  }

}
