@if (loadingFlag) {
<div class="loading-container">
    <div class="loading-spinner"></div>
</div>
} @else {

<div class="container">
    <mat-card class="example-card">

        <div class="logo-heading">
            <img id="step9" mat-card-image src="{{superHeroDetails.images.lg}}" alt="logo">
            <!-- <span id="step10" class="heroName">{{superHeroDetails.name}}</span> -->
        </div>
        

        <div class="content" id="step11">
            <mat-card-header>
                <!-- <mat-card-title>Biography</mat-card-title> -->
                <mat-card-title id="step10">{{superHeroDetails.name}}</mat-card-title>
            </mat-card-header>


            <hr>
            <mat-card-content>
                <mat-card-subtitle>Full Name</mat-card-subtitle>
                <p>{{superHeroDetails.biography.fullName}}</p>
            </mat-card-content>

            <hr>
            <mat-card-content>
                <mat-card-subtitle>Place Of Birth</mat-card-subtitle>
                <p>{{superHeroDetails.biography.placeOfBirth}}</p>
            </mat-card-content>


            <hr>
            <mat-card-content>
                <mat-card-subtitle>First Appearance</mat-card-subtitle>
                <p>{{superHeroDetails.biography.firstAppearance}}</p>
            </mat-card-content>

            <hr>
            <mat-card-content>
                <mat-card-subtitle>Aliases</mat-card-subtitle>
                <p>{{superHeroDetails.biography.aliases}}</p>
            </mat-card-content>


            <hr>
            <mat-card-content>
                <mat-card-subtitle>Alignment</mat-card-subtitle>
                <p>{{superHeroDetails.biography.alignment}}</p>
            </mat-card-content>

            <hr>
            <mat-card-content>
                <mat-card-subtitle>Alter Egos</mat-card-subtitle>
                <p>{{superHeroDetails.biography.alterEgos}}</p>
            </mat-card-content>

            <hr>
            <mat-card-content>
                <mat-card-subtitle>Publisher</mat-card-subtitle>
                <p>{{superHeroDetails.biography.publisher}}</p>
            </mat-card-content>

        </div>

    </mat-card>
</div>




}