.logo{
  height: 64%;
  margin-right: 6px;
  filter: invert(1);
}

.app-heading{
  display: block;
  cursor: pointer;
  transition: 0.3s ease;
  &:hover{
    color: #f0ff20;
  }
}

.example-spacer {
  flex: 1 1 auto;
}

.example-spacer-2{
  flex: none;
}

.example-icon {
  padding: 0 14px;
  cursor: pointer;
  opacity: 0.6;
  transition: 0.4s ease;
  &:hover{
    opacity: 1;
  }
}

.active{
  opacity: 1;
}


@media only screen and (max-width: 767px) {
  .app-heading{
    display: none;
  }

  .example-spacer-2{
    flex: 1 1 auto;
  }
}
