<nav class="nav">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <img class="logo" src="assets/superhero-svgrepo-com.svg" alt="logo">
      <span class="heading" [routerLink]="['superhero-list']" id="step1">SUPERHEROS</span>
      <span class="example-spacer"></span>
      <mat-icon class="example-icon" routerLinkActive="active" [routerLink]="['superhero-list']" id="step2">home</mat-icon>
      <div id="step3">
      @if(showSearch){
          <app-search-name (searchEvent)="getSearchKeyword($event)"></app-search-name>
      }
    </div>
    </mat-toolbar-row>
  </mat-toolbar>
</nav>


<router-outlet></router-outlet>