.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.example-card {
  width: 80%;
  min-width: 734px;
  display: flex;
  flex-direction: row;
  box-shadow: -2px 2px 12px 0px rgba(0, 0, 0, 0.4);
  background-color: #333c4d;
  color: #e2e2e9;

  .mat-mdc-card-image {
    width: 400px;
  }

  .mat-mdc-card-subtitle {
    color: #769ee7;
    font-size: 16px;
  }

  .powerstats {
    text-align: center;
    margin-bottom: 12px;
  }

  .content {
    width: 100%;

    .mat-mdc-card-header {
      justify-content: center;
    }

    .mat-mdc-card-title {
      font-size: 48px;
      color: #e2e2e9;
    }

    hr {
      margin: 14px 24px;
      border: 1px solid #172030;
      opacity: 0.5;
    }
  }
}

.power-stats {
  display: flex;
  flex-direction: column;

  .stat-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }

  .stat-label {
    flex: 1;
    color: #e2e2e9;
  }

  .stat-progress-bar {
    flex: 3;
  }

  .stat-percentage {
    margin-left: 10px;
    color: #e2e2e9;
  }
}

.mat-mdc-card-content {
  margin: 0.8rem 8px;

  p {
    color: #e2e2e9;
  }
}

@media only screen and (max-width: 767px) {

  .example-card {
    margin-bottom: 1rem;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 320px;

    .content{
      .mat-mdc-card-title{
        font-size: 32px;
      }
    }


    .mat-mdc-card-image {
      width: 320px;
    }
  }
}