/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; overflow: hidden; background: #172030;}


.container{
  height: calc(100vh - 4rem);
  overflow: auto;
}

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 4rem);
}

.loading-spinner {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 6px solid #f3f3f3;
  border-top: 6px solid #4050b5;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
